extend layout

block content
    for gallery in galleries
        div.row
            h1 #{gallery.title}
            for image in gallery.thumbnails
                a(href="#{image.url}")
                    div(style="background-image: url('#{image.path}');")

block sidebar
    .widget
        h1 Widget
